body {
    padding: 10px;
  }

  * {
    transition: all 250ms !important;
  }
  
  .container {
    position: relative;
    width: 398px;
    margin: auto;
    padding: 10px 40px;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: #eee;
  }
  
  .carusel img {
    width: 130px;
    height: 130px;
    display: block;
    left: 0;
    top: 2px;
    position: absolute;
  }
  
  .arrow {
    position: absolute;
    top: 60px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: #ccc;
    cursor: pointer;
  }
  
  .prev {
    left: 7px;
    z-index: 1000;
  }
  
  .next {
    right: 7px;
    z-index: 1000;
  }
  
  
  
  .carusel {
    height: 130px;
    width: 388px;
    margin: 0;
    padding: 0;
    transition: margin-left 250ms;
    transition: margin-right 250ms;
    font-size: 0;
    position: relative;
    overflow: hidden;
  }
  
  